<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Hasher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Hasher.My.MySettings>
            <setting name="boolRecurrsiveDirectorySearch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="boolSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="windowSize" serializeAs="String">
                <value>1088, 446</value>
            </setting>
            <setting name="hashIndividualFilesFileNameColumnSize" serializeAs="String">
                <value>528</value>
            </setting>
            <setting name="hashIndividualFilesFileSizeColumnSize" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="hashIndividualFilesChecksumColumnSize" serializeAs="String">
                <value>241</value>
            </setting>
            <setting name="verifyHashFileNameColumnSize" serializeAs="String">
                <value>557</value>
            </setting>
            <setting name="verifyHashFileSizeColumnSize" serializeAs="String">
                <value>87</value>
            </setting>
            <setting name="verifyHashFileResults" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="boolSortByFileSizeAfterLoadingHashFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="boolSaveChecksumFilesWithRelativePaths" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="boolSortFileListingAfterAddingFilesToHash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hashIndividualFilesComputeTimeColumnSize" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="verifyHashComputeTimeColumnSize" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="boolUseMilliseconds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="boolDisplayHashesInUpperCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="validColor" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="notValidColor" serializeAs="String">
                <value>Pink</value>
            </setting>
            <setting name="fileNotFoundColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="boolShowEstimatedTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="boolUseTaskBarProgressBarForOverallStatus" serializeAs="String">
                <value>False</value>
            </setting>
        </Hasher.My.MySettings>
    </userSettings>
</configuration>
